*{
    margin: 0;
    padding: 0;
    }
    html{
        background-color: lavender;
    }

    #logo{
        display: none;
        height: 50px;
    }

    #header{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #header > h1{
        font-size: 14pt;
        font-family: cursive;
        color: coral;
        justify-self: right;
        align-self: center;
    }

    #header > a{
        justify-self: right;
        align-self: center;
        margin-right: 14px;
        font-size: 14pt;
        
    }
    .main{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
        row-gap: 30px;
        margin: 20px;
    }

    #santa{
    height: 25vh;
    margin-left: 30%;
    
    }
    #elvis{
    height: 25vh;
    margin-left: 30%;
    }  

    #nyc{
    height: 25vh;
    width: 50vw;
    margin-left: 20%;
    }
    
    footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    font-size: 14pt;
    }